.card {
  margin-bottom: 20px;
}

.card-body {
  margin: 0 auto;
  width: fit-content;
}

.card-content.slider4 {
  width: 100px;
  margin: 0 auto;
}

.card-content.slider5 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card-content.slider5 .configure-slider {
  margin-right: 30px;
}
.card-content.slider5 .configure-panel {
}
